<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patelheggere.imctest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".IMCApplication"
        android:allowBackup="true"
        android:icon="@drawable/imc"
        android:label="@string/app_name"
        android:roundIcon="@drawable/imc"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".broadcast.MyNotificationPublisher"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity android:name=".activity.profile.ProfileActivity" />
        <activity
            android:name=".activity.home.MainActivity"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".activity.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW " />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.login.RegistrationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>